#word-input-container
    display: flex
    column-gap: 10px
    
    .letter-container
        height: 50px
        aspect-ratio: 1
        border-bottom: 5px solid black
        display: flex
        align-items: center
        justify-content: center
        font-size: 45px